@mixin flex-base {
  display: flex;
  justify-content: center;
}

:host {
  @include flex-base;
  margin: 72px 0;

  mat-form-field {
    width: 100%;
    min-width: 300px;
  }

  mat-card-title,
  mat-card-content {
    @include flex-base;
  }

  #loginButton {
    @include flex-base;
    flex-direction: row;
    justify-content: flex-end;
  }

  #error {
    padding: 16px;
    width: 300px;
    color: white;
    background-color: red;
  }
}
